body{
  font: 12px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}
.wrapper_01{
  width: 1100px;
  margin: 0 auto;

}
.wrapper_02{
  width: 980px;
  margin: 0 auto;
}
.wrapper_03{
  width: 982px;
  margin: 0 auto;
}
/* topbar_sprite */
.topbar_sprite{
  display: inline-block;
  background: url(../images/topbar.png) no-repeat;
}
.topbar_icon_hot{
  width: 28px;
  height: 19px;
  background-position: -190px 0;
}
/* btn_sprite */
.btn_sprite{
  display: inline-block;
  background-image: url(../images/btn_sprite.png);
  height: 31px;
  line-height: 31px;
  text-align: center;
}
.btn_type_01_sup{
  background-position:right -100px;
  padding-right: 5px;
}
.btn_type_01_sub{
  display: block;
  background-position: 0 -59px;
  padding-left: 3px;
}
.btn_type_favor_sup{
  background-position:right -1020px;
  padding-right: 5px;

}
.btn_type_favor_sub{
  display: inline-block;
  background-position: 0 -977px;
  padding-left: 28px;
  padding-right: 3px;
}
/* icon_sprite */
.icon_sprite{
  background-image: url(../images/icon-sprite.png);
  display:inline-block
}
.icon_sprite_music{
  width: 14px;
  height: 11px;
  background-position: 0 -24px;
}
.icon_sprite_play_01{
  width: 16px;
  height: 17px;
  background-position: 0 0;
}
/* iconall-sprite */
.iconall_sprite{
  display: inline-block;
  background-image: url(../images/iconall_sprite.png);

}
.iconall_sprite_radio{
  width: 35px;
  height: 15px;
  background-position:-31px -658px;
}