@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1760777598568') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
  content: "\e680";
}

.icon-video:before {
  content: "\e7c8";
}

.icon-video1:before {
  content: "\e73b";
}

